@media screen and (min-width: 900px) and (max-width: 1199px) {
    .h-main {
        margin: 7px 20px;
    }

    .h-main > ul > li {
        margin: 20px 23px 0;
    }

    /********  why  *******/
    .c-why-info ul li,
    .c-why-info ul li.last {
        width: 46%;
        height: 130px;
        background-size: 100% 130px;
    }

    .c-why-info ul li em {
        font-size: 40px;
        top: 32px;
        left: 15px;
    }

    .c-why-info ul li.last em {
        left: 40px;
    }

    .c-why-info ul li .list {
        width: 71%;
        padding: 15px 0 0 80px;
    }

    .c-why-info ul li.last .list {
        padding-left: 105px;
    }

    .c-why-info ul li .list h2 {
        font-size: 20px;
        margin-top: -7px;
    }

    .c-why-info ul li .list p {
        padding-top: 10px;
    }

    .c-teacher-info {
        width: 830px;
    }

    .c-teacher-m ul {
        left: -728px;
    }

    .c-feedback-info ul li {
        width: 30%;
        min-height: 150px;
        margin: 20px 2.4154% 20px 0;
        padding-right: 20px;
    }

    .c-feedback-info ul li div {
        width: 220px;
        padding: 20px 0;
        margin-left: 20px;
    }

    .c-feedback-info ul li div h2 {
        width: 120px;
    }

    #c-address-map {
        height: 350px;
        margin: 15px auto;
    }

}

/*end 900 - 1199*/

@media screen and (min-width: 600px) and (max-width: 899px) {
    header {
        height: 50px;
    }

    .h-top-nav {
        height: 50px;
    }

    .h-logo {
        padding: 5px;
    }

    .h-logo img {
        height: 36px;
        width: 120px;
    }

    .h-pc {
        display: none;
    }

    .h-mobile {
        display: block;
        text-align: center;
    }

    .h-main {
        float: none;
        margin: 0;
    }

    .h-main > ul > li {
        margin: 15px 10px 0;
        width: 70px;
    }

    .h-main ul li a {
        font-size: 18px;
    }

    .h-nav-img {
        height: 27px;
    }

    .c-why-info ul li {
        margin: 15px auto;
    }

    .c-why-info ul li {
        float: none;
    }

    .c-why-info ul li.last {
        float: none;
        background: url(../img/wrt.png) no-repeat;
    }

    .c-teacher-info {
        width: 600px;
    }

    .c-teacher-m ul {
        left: -843px;
    }

    .c-feedback-info ul li {
        width: 90%;
        float: none;
        margin: 15px auto;
        border-right: none;
        border-bottom: 1px solid #e2e2e2;
        padding: 0;
    }

    .c-feedback-info ul li:last-child {
        border-bottom: none;
        margin: 15px auto;
        padding: 0;
    }

    .c-feedback-info ul li div {
        width: 150px;
        display: table;
        padding: 20px 0;
        margin-left: 25px;
        float: left;
    }

    .c-feedback-info ul li div h2 {
        float: left;
        width: 80px;
        font-size: 15px;
    }

    .c-feedback-info ul li p {
        padding: 20px 10px;
    }

    .footer-content .f-logo {
        margin: 10px 5px;
        background-size: 100px 20px;
    }

    .footer-content ul li {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    .footer-content ul li.title {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

}

@media screen and (min-width: 320px) and (max-width: 599px) {
    header {
        height: 50px;
    }

    .h-top-nav {
        height: 50px;
    }

    .h-logo {
        padding: 5px;
        margin: 0 auto;
    }

    .h-logo img {
        height: 36px;
        width: 120px;
    }

    .h-pc {
        display: none;
    }

    .h-mobile {
        display: none;
        text-align: center;
    }
    .h-main {
        float: none;
        margin: 0;
    }

    .h-main > ul > li {
        margin: 15px 10px 0;
        width: 70px;
    }

    .h-main ul li a {
        font-size: 18px;
    }

    .h-nav-img {
        height: 27px;
    }

    /********  why  *******/
    .c-why-info ul li,
    .c-why-info ul li.last {
        height: 130px;
        background-size: 100% 130px;
    }

    .c-why-info ul li,
    .c-why-info ul li.last{
        float: none;
        width: 100%;
        background: url(../img/wrt.png) no-repeat;
    }

    .c-why-info ul li em,
    .c-why-info ul li.last em{
        font-size: 30px;
        top: 40px;
        left: 20px;
    }

    .c-why-info ul li .list,
    .c-why-info ul li.last .list {
        width: 75%;
        padding: 5px;
        margin: 5px;
        float: right;
    }

    .c-why-info ul li .list h2 {
        font-size: 20px;
        margin-top: 0;
    }

    .c-why-info ul li .list p {
        height: 60px;
        line-height: 20px;
        padding-top: 10px;
    }

    .c-teacher-info {
        width: 300px;
    }

    .c-teacher-m ul {
        left: -993px;
    }

    .c-problem-info a {
        font-size: 11px;
        padding: 2px 3px;
    }
    #c-address-map {
        height: 250px;
    }
    .footer-content {
        display: none;
    }

    .c-feedback-info ul li {
        width: 90%;
        float: none;
        margin: 15px auto;
        border-right: none;
        border-bottom: 1px solid #e2e2e2;
        padding: 0;
    }

    .c-feedback-info ul li:last-child {
        border-bottom: none;
        margin: 15px auto;
        padding: 0;
    }

    .c-feedback-info ul li div {
        width: 200px;
        display: table;
        padding: 10px 0 0 0;
        margin-left: 25px;
    }

    .c-feedback-info ul li div h2 {
        width: 80px;
        font-size: 15px;
        padding-top: 15px;
    }

    .c-feedback-info ul li p {
        padding: 5px;
    }
}
